header {
	border: 2px solid red;
	width: 800px;
	height: 200px;
}

.main {
	display: flex;
}

.nav{
	border: 2px solid orange;
	width: 100px;
	height: 400px;
}

.section {
	border: 2px solid orange;
	width: 700px;
	height: 400px;
}

footer {
	border: 2px solid gray;
	width: 800px;
	height: 200px;
}